<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <meta
      name="description"
      content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology."
    />
    <meta property="og:image" content="./assets/hero.jpg" />
    <link rel="icon" type="image/x-icon" href="./assets/favicon.png" />
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/contact.css" />
    <link
      rel="stylesheet"
      href="https://fontawesome-pro.vercel.app/css/all.min.css"
    />
  </head>
  <body>
    <div class="header-container">
      <header>
        <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>

        <button id="nav-toggle">
          <i class="fa-regular fa-bars"></i>
        </button>

        <div class="navigation lato-light">
          <a href="/">HOME</a>
          <div class="dropdown">
            <a class="dropbtn">SERVICES</a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </div>
          <a href="/clients">CLIENTS</a>
          <a href="/contact">CONTACT</a>
        </div>
      </header>

      <div id="nav-overlay">
        <div id="nav-overlay-content">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/contact">Contact</a></li>
            <hr />
            <li><p>Our Services</p></li>
            <li>
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
            </li>
            <li>
              <a href="/services/networking">Professional Networking</a>
            </li>
            <li>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
            </li>
            <li>
              <a href="/services/virtual-computing">Virtual Computing</a>
            </li>
            <li>
              <a href="/services/online-ups">Online UPS Solutions</a>
            </li>
            <li>
              <a href="/services/biometric-attendance">Biometric attendance</a>
            </li>
            <li>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </li>
          </ul>
          <button id="nav-close">CLOSE</button>
        </div>
      </div>
    </div>

    <p class="title">
      <span><b>Ready to Engage?</b> </span><br />
      Contact Us Now
    </p>

    <hr />

    <div class="container">
      <form action="/contact" method="post" id="contactForm">
        <div class="input-container">
          <label for="name">Your name</label>
          <input type="text" name="name" id= required />
        </div>

        <div class="input-container">
          <label for="email">Your email</label>
          <input
            type="email"
            name="email"
            id="email"
            required
          />
        </div>

        <div class="input-container">
          <label for="subject">Subject</label>
          <input
            type="text"
            name="subject"
            id="subject"
            required
          />
        </div>

        <div class="input-container">
          <label for="message">Your message</label>
          <textarea
            name="message"
            id="message"
            required
          ></textarea>
        </div>

        <button type="submit"><p>Send Message</p></button>
      </form>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10610.69872496193!2d90.41213211546912!3d23.827851980467052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c700378c0b6f%3A0x877bafdf4d4df69c!2sAS%20IT%20SOLUTIONS!5e0!3m2!1sen!2sbd!4v1711616879107!5m2!1sen!2sbd"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <section>
      <p>Find us on social media, or contact us directly by email or phone.</p>
    </section>

    <footer>
      <div class="footer-container">
        <div class="footer-card">
          <div class="footer-image-container">
            <img src="/assets/logo.png" alt="Logo" />
            <div class="vl"></div>
            <div class="links">
              <a
                href="https://www.facebook.com/as.it.sl"
                target="_blank"
                style="margin-left: 0"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.instagram.com/asitsolutions/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=8801628888444"
                target="_blank"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>

          <p>
            House 11, Road 15, Nikunja 2, <br />
            Khilkhet, Dhaka 1229
          </p>

          <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          <p>
            <a href="tel:+01628888444">01628888444</a>, <br />
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>

        <div class="center">
          <p>
            Let's explore how our IT solutions can drive innovation and growth
            for your business. Contact us today to discover the possibilities.
          </p>
        </div>
      </div>

      <div class="copyright">
        <p>
          Developed by
          <a href="https:///nehanyaser.vercel.app/">Nehan Yaser</a>
        </p>
      </div>
    </footer>

    <script src="/header.js"></script>
    <script src="/scripts/contact.js"></script>
  </body>
</html>
