<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AS IT Solutions</title>
    <meta
      name="description"
      content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology."
    />
    <meta property="og:image" content="/assets/hero.jpg" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
    <link
      rel="stylesheet"
      href="https://fontawesome-pro.vercel.app/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div class="header-container">
      <header>
        <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>

        <button id="nav-toggle">
          <i class="fa-regular fa-bars"></i>
        </button>

        <div class="navigation lato-light">
          <a href="/">HOME</a>
          <div class="dropdown">
            <a class="dropbtn">SERVICES</a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </div>
          <a href="/clients">CLIENTS</a>
          <a href="/contact">CONTACT</a>
        </div>
      </header>

      <div id="nav-overlay">
        <div id="nav-overlay-content">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/contact">Contact</a></li>
            <hr />
            <li><p>Our Services</p></li>
            <li>
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
            </li>
            <li>
              <a href="/services/networking">Professional Networking</a>
            </li>
            <li>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
            </li>
            <li>
              <a href="/services/virtual-computing">Virtual Computing</a>
            </li>
            <li>
              <a href="/services/online-ups">Online UPS Solutions</a>
            </li>
            <li>
              <a href="/services/biometric-attendance">Biometric attendance</a>
            </li>
            <li>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </li>
          </ul>
          <button id="nav-close">CLOSE</button>
        </div>
      </div>

      <div class="hero">
        <div class="hero-card">
          <div class="hero-text">
            <p class="hero-text-heading">
              <span><b>Powering Your Business</b></span> <br />
              with Technology
            </p>

            <p>
              AS IT Solutions is passionate about delivering innovative IT
              solutions that help businesses thrive in today's dynamic
              environment.
            </p>
          </div>

          <div class="hero-spotlight">
            <img src="/assets/generated.jpeg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <section>
      <h1 class="lato-light">Why Choose Us?</h1>

      <div class="center">
        <p class="point">
          Our team of experienced professionals is dedicated to delivering
          excellence in every project. We stay at the forefront of technological
          advancements to provide innovative solutions that propel your business
          forward.
        </p>

        <p class="point">
          Your success is our priority. We work closely with our clients,
          understanding their goals and challenges, to deliver solutions that
          align with their business objectives.
        </p>

        <p class="point">
          We adhere to stringent quality standards to ensure that our
          deliverables are reliable, secure, and scalable. Our commitment to
          quality is evident in the satisfaction of our clients.
        </p>

        <p class="point">
          Embracing an agile development approach, we adapt to changes quickly
          and efficiently, ensuring that your projects are delivered on time and
          within budget.
        </p>
      </div>

      <button class="next-button" onclick="plusDivs(1)">
        <i class="fa-solid fa-arrow-right"></i>
      </button>

      <button class="prev-button" onclick="plusDivs(-1)">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </section>

    <div class="trusted-by">
      <h1 class="lato-light">Trusted By</h1>

      <div class="marquee-container">
        <div class="marquee-content">
          <img src="/assets/clients/latest-attire.png" alt="" />
          <img src="/assets/clients/grain.png" alt="" />
          <img src="/assets/clients/247.png" alt="" />
          <img src="/assets/clients/barista-garage.png" alt="" />
          <img src="/assets/clients/padma.png" alt="" />
        </div>
      </div>
    </div>

    <hr />

    <div class="contact-section">
      <p>
        <span><b>Want to move ahead?</b></span> Connect with us to explore the
        possibilities for you or your business.
      </p>
      <a href="/contact">Get in Touch</a>
    </div>

    <!-- <hr /> -->

    <footer>
      <div class="footer-container">
        <div class="footer-card">
          <div class="footer-image-container">
            <img src="/assets/logo.png" alt="Logo" />
            <div class="vl"></div>
            <div class="links">
              <a
                href="https://www.facebook.com/as.it.sl"
                target="_blank"
                style="margin-left: 0"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.instagram.com/asitsolutions/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=8801628888444"
                target="_blank"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>

          <p>
            House 11, Road 15, Nikunja 2, <br />
            Khilkhet, Dhaka 1229
          </p>

          <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          <p>
            <a href="tel:+01628888444">01628888444</a>, <br />
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>

        <div class="center">
          <p>
            Let's explore how our IT solutions can drive innovation and growth
            for your business. Contact us today to discover the possibilities.
          </p>
        </div>
      </div>

      <div class="copyright">
        <p>
          Developed by
          <a href="https:///nehanyaser.vercel.app/">Nehan Yaser</a>
        </p>
      </div>
    </footer>

    <script src="/scripts/index.js"></script>
    <script src="/header.js"></script>
  </body>
</html>
