.hero {
  margin-top: 110px;
  min-height: calc(-110px - 4rem + 100vh);
  padding: 4rem;
}

.hero-card {
  display: flex;
  height: 100%;
}

.hero-text {
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  text-align: justify;
  font-size: 20px;
  width: 100%;
}

.hero-text-heading {
  font-size: 40px;
  text-align: left;
  font-family: "Cal Sans", sans-serif;
}

.hero-text-heading span {
  color: rgb(19, 193, 224);
}

.hero-text p {
  font-family: "Cal Sans", sans-serif;
  color: rgb(32, 32, 32);
  max-width: 600px;
}

.hero-spotlight {
  padding: 4rem;
  display: flex;
}

.hero-spotlight img {
  display: inline;
  width: 600px;
  height: 300px;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
}

section {
  height: 100vh;
  background: rgb(19, 193, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 2rem;
  padding: 4rem;
  position: relative;
}

section h1 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color: white;
}

section p {
  font-size: 24px;
  text-align: justify;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  color: white;
  max-width: 600px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.point {
  position: relative;
  animation: 1s linear 0s 1 normal none running fade;
  min-height: 164px;
}

section button {
  padding: 1.5rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: 0.1s;
  cursor: pointer;
  color: rgb(0, 70, 82);
}

section i {
  font-size: 25px;
}

section button:hover {
  background: rgba(255, 255, 255, 0.6);
}

.next-button {
  position: absolute;
  right: 0px;
  border-radius: 4px 0px 0px 4px;
}

.prev-button {
  position: absolute;
  left: 0px;
  border-radius: 0px 4px 4px 0px;
}

.trusted-by {
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trusted-by h1 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.marquee-container {
  margin-top: 4rem;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: rgb(251, 251, 251);
}

.marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: 20s linear 0s infinite normal none running scroll-left;
}

.marquee-content img {
  margin-right: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}

.contact-section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.contact-section span {
  color: rgb(19, 193, 224);
  font-weight: 400;
}

.contact-section p {
  max-width: 650px;
  text-align: justify;
  font-size: 40px;
  font-family: "Cal Sans", sans-serif;
}

.contact-section a {
  padding: 1rem 2rem;
  background: rgb(19, 193, 224);
  color: white;
  text-decoration: none;
  border: 2px solid rgb(19, 193, 224);
  border-radius: 8px;
  font-size: 20px;
  transition: 0.1s;
  font-family: "Cal Sans", sans-serif;
  width: fit-content;
}

.contact-section a:hover {
  color: rgb(19, 193, 224);
  background: white;
}

@media (max-width: 1400px) {
  .hero-card {
    flex-direction: column;
    justify-content: center;
  }
  .hero-text {
    padding-top: 0px;
  }
  .hero-spotlight {
    padding-block: 0px;
  }
  .hero-spotlight img {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 900px) {
  .next-button,
  .prev-button {
    display: none;
  }
}

@media (max-width: 770px) {
  section {
    height: fit-content;
  }
  .contact-section p {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .hero,
  .hero-text {
    padding: 2rem;
  }
  .hero-spotlight {
    padding-inline: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  .hero-spotlight img {
    height: auto;
  }
}

@media (max-width: 420px) {
  .hero-text-heading,
  section h1,
  .trusted-by h1,
  .contact-section p {
    font-size: 30px;
  }
  .hero {
    padding: 3rem;
  }
  .hero-text,
  .hero-spotlight {
    padding: 0px;
  }
  .hero-text {
    padding-bottom: 2rem;
  }
  section {
    padding: 3rem;
  }
  section p {
    font-size: 20px;
  }
  section button {
    padding: 1.2rem;
    width: 100%;
  }
  section i {
    font-size: 18px;
  }
  .contact-section {
    padding: 3rem;
  }
  .contact-section a {
    padding: 0.7rem 1.7rem;
    border-radius: 6px;
    font-size: 18px;
  }
  .trusted-by {
    padding-block: 3rem;
  }
  .marquee-container {
    margin-top: 3rem;
  }
  .marquee-content img {
    height: 170px;
    width: 170px;
  }
}
