<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IP/CCTV Camera</title>
    <meta
      name="description"
      content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology."
    />
    <meta property="og:image" content="/assets/hero.jpg" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/service.css" />
    <link
      rel="stylesheet"
      href="https://fontawesome-pro.vercel.app/css/all.min.css"
    />
  </head>
  <body>
    <div class="header-container">
      <header>
        <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>

        <button id="nav-toggle">
          <i class="fa-regular fa-bars"></i>
        </button>

        <div class="navigation lato-light">
          <a href="/">HOME</a>
          <div class="dropdown">
            <a class="dropbtn">SERVICES</a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </div>
          <a href="/clients">CLIENTS</a>
          <a href="/contact">CONTACT</a>
        </div>
      </header>

      <div id="nav-overlay">
        <div id="nav-overlay-content">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/contact">Contact</a></li>
            <hr />
            <li><p>Our Services</p></li>
            <li>
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
            </li>
            <li>
              <a href="/services/networking">Professional Networking</a>
            </li>
            <li>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
            </li>
            <li>
              <a href="/services/virtual-computing">Virtual Computing</a>
            </li>
            <li>
              <a href="/services/online-ups">Online UPS Solutions</a>
            </li>
            <li>
              <a href="/services/biometric-attendance">Biometric attendance</a>
            </li>
            <li>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </li>
          </ul>
          <button id="nav-close">CLOSE</button>
        </div>
      </div>
    </div>

    <p class="title">IP/CCTV Cameras</p>

    <hr />

    <div class="container">
       <p>We provide expert consultation to understand your security needs and
      recommend tailored surveillance camera solutions. We ensure quality by
      sourcing reliable cameras from top manufacturers. Our skilled technicians
      handle the professional installation, and we offer ongoing support and
      maintenance to keep your system operating seamlessly.</p>

      <div class="text">
        <h3>High-Definition Video Quality</h3>
        <p class="heading"></p>
        <p>
          Experience crystal-clear footage with our surveillance cameras
          equipped with high-definition video capabilities. Monitor your
          premises with unparalleled clarity, ensuring every detail is captured.
        </p>
      </div>

      <div class="text">
        <h3>Wide-Angle Coverage</h3>
        <p>
          Our surveillance cameras come with wide-angle lenses, offering
          extensive coverage of your surroundings. Minimize blind spots and
          ensure comprehensive monitoring for enhanced security.
        </p>
      </div>
      <div class="text">
        <h3>Night Vision Technology</h3>
        <p>
          Security doesn't rest when the sun goes down. Our cameras feature
          advanced night vision technology, allowing you to maintain
          surveillance around the clock, even in low-light conditions.
        </p>
      </div>
      <div class="text">
        <h3>Remote Monitoring</h3>
        <p>
          Stay connected to your property no matter where you are. Our
          surveillance systems enable remote monitoring through secure online
          platforms or mobile apps, providing real-time access to live feeds.
        </p>
      </div>
      <div class="text">
        <h3>Motion Detection and Alerts</h3>
        <p>
          Enhance efficiency by receiving instant alerts when motion is
          detected. Our surveillance cameras are equipped with intelligent
          motion detection technology, keeping you informed of any unusual
          activity.
        </p>
      </div>
      <div class="text">
        <h3>Weather-Resistant Design</h3>
        <p>
          Our cameras are built to withstand the elements. Whether it's rain,
          snow, or extreme temperatures, our weather-resistant designs ensure
          consistent performance in all conditions.
        </p>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-card">
          <div class="footer-image-container">
            <img src="/assets/logo.png" alt="Logo" />
            <div class="vl"></div>
            <div class="links">
              <a
                href="https://www.facebook.com/as.it.sl"
                target="_blank"
                style="margin-left: 0"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.instagram.com/asitsolutions/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=8801628888444"
                target="_blank"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>

          <p>
            House 11, Road 15, Nikunja 2, <br />
            Khilkhet, Dhaka 1229
          </p>

          <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          <p>
            <a href="tel:+01628888444">01628888444</a>, <br />
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>

        <div class="center">
          <p>
            Let's explore how our IT solutions can drive innovation and growth
            for your business. Contact us today to discover the possibilities.
          </p>
        </div>
      </div>

      <div class="copyright">
        <p>
          Developed by
          <a href="https:///nehanyaser.vercel.app/">Nehan Yaser</a>
        </p>
      </div>
    </footer>

    <script src="/header.js"></script>
  </body>
</html>
