<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IP PBX Solutions</title>
    <meta
      name="description"
      content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology."
    />
    <meta property="og:image" content="/assets/hero.jpg" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/service.css" />
    <link
      rel="stylesheet"
      href="https://fontawesome-pro.vercel.app/css/all.min.css"
    />
  </head>
  <body>
    <div class="header-container">
      <header>
        <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>

        <button id="nav-toggle">
          <i class="fa-regular fa-bars"></i>
        </button>

        <div class="navigation lato-light">
          <a href="/">HOME</a>
          <div class="dropdown">
            <a class="dropbtn">SERVICES</a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </div>
          <a href="/clients">CLIENTS</a>
          <a href="/contact">CONTACT</a>
        </div>
      </header>

      <div id="nav-overlay">
        <div id="nav-overlay-content">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/contact">Contact</a></li>
            <hr />
            <li><p>Our Services</p></li>
            <li>
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
            </li>
            <li>
              <a href="/services/networking">Professional Networking</a>
            </li>
            <li>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
            </li>
            <li>
              <a href="/services/virtual-computing">Virtual Computing</a>
            </li>
            <li>
              <a href="/services/online-ups">Online UPS Solutions</a>
            </li>
            <li>
              <a href="/services/biometric-attendance">Biometric attendance</a>
            </li>
            <li>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </li>
          </ul>
          <button id="nav-close">CLOSE</button>
        </div>
      </div>
    </div>

    <p class="title">IP PBX Solutions</p>

    <hr />

    <div class="container">
      <p>
        We handle the seamless installation and configuration of your IP PBX
        system, ensuring your communication infrastructure is set up for optimal
        performance. We work closely with you to create customized solutions
        that perfectly align with your unique business requirements and goals.
        Plus, we're committed to ongoing support and training, empowering your
        team to fully leverage our IP PBX features.
      </p>

      <div class="text">
        <h3>Unified Communication Platform</h3>
        <p>
          IP PBX brings together voice, video, messaging, and collaboration
          tools into a unified platform. Streamline your communication channels
          for enhanced productivity and efficiency.
        </p>
      </div>
      <div class="text">
        <h3>Scalability for Growing Businesses</h3>
        <p>
          Our IP PBX systems are designed to grow with your business. Whether
          you have a small team or a large enterprise, our scalable solutions
          adapt to your evolving communication needs.
        </p>
      </div>
      <div class="text">
        <h3>Cost-Effective Communication</h3>
        <p>
          Say goodbye to traditional phone system costs. IP PBX leverages VoIP
          (Voice over Internet Protocol) technology, reducing communication
          expenses while delivering high-quality, reliable connections.
        </p>
      </div>
      <div class="text">
        <h3>Advanced Call Features</h3>
        <p>
          Elevate your call management with advanced features such as call
          forwarding, auto-attendants, voicemail to email, and more. Customize
          your phone system to match your workflow and enhance customer
          interactions.
        </p>
      </div>
      <div class="text">
        <h3>Remote Accessibility</h3>
        <p>
          Enable your team to stay connected from anywhere. Our IP PBX solutions
          support remote access, ensuring seamless communication for employees
          working from home or on the go.
        </p>
      </div>
      <div class="text">
        <h3>Enhanced Security Measures</h3>
        <p>
          AS IT Solutions prioritizes the security of your communication.
          Benefit from advanced encryption protocols and secure access controls
          to protect your voice and data transmissions.
        </p>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-card">
          <div class="footer-image-container">
            <img src="/assets/logo.png" alt="Logo" />
            <div class="vl"></div>
            <div class="links">
              <a
                href="https://www.facebook.com/as.it.sl"
                target="_blank"
                style="margin-left: 0"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.instagram.com/asitsolutions/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=8801628888444"
                target="_blank"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>

          <p>
            House 11, Road 15, Nikunja 2, <br />
            Khilkhet, Dhaka 1229
          </p>

          <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          <p>
            <a href="tel:+01628888444">01628888444</a>, <br />
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>

        <div class="center">
          <p>
            Let's explore how our IT solutions can drive innovation and growth
            for your business. Contact us today to discover the possibilities.
          </p>
        </div>
      </div>

      <div class="copyright">
        <p>
          Developed by
          <a href="https:///nehanyaser.vercel.app/">Nehan Yaser</a>
        </p>
      </div>
    </footer>

    <script src="/header.js"></script>
  </body>
</html>
