<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Professional Networking</title>
    <meta
      name="description"
      content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology."
    />
    <meta property="og:image" content="/assets/hero.jpg" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/service.css" />
    <link
      rel="stylesheet"
      href="https://fontawesome-pro.vercel.app/css/all.min.css"
    />
  </head>
  <body>
    <div class="header-container">
      <header>
        <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>

        <button id="nav-toggle">
          <i class="fa-regular fa-bars"></i>
        </button>

        <div class="navigation lato-light">
          <a href="/">HOME</a>
          <div class="dropdown">
            <a class="dropbtn">SERVICES</a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </div>
          <a href="/clients">CLIENTS</a>
          <a href="/contact">CONTACT</a>
        </div>
      </header>

      <div id="nav-overlay">
        <div id="nav-overlay-content">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/contact">Contact</a></li>
            <hr />
            <li><p>Our Services</p></li>
            <li>
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
            </li>
            <li>
              <a href="/services/networking">Professional Networking</a>
            </li>
            <li>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
            </li>
            <li>
              <a href="/services/virtual-computing">Virtual Computing</a>
            </li>
            <li>
              <a href="/services/online-ups">Online UPS Solutions</a>
            </li>
            <li>
              <a href="/services/biometric-attendance">Biometric attendance</a>
            </li>
            <li>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </li>
          </ul>
          <button id="nav-close">CLOSE</button>
        </div>
      </div>
    </div>

    <div class="title">Professional Networking</div>

    <hr />

    <div class="container">
      <p>
        We offer tailored solutions, understanding that every business has
        unique networking requirements, ensuring optimal performance and
        efficiency. Our scalable solutions are designed to grow with your
        business, adapting seamlessly as your needs evolve. You can count on us
        for reliable and high-performance network infrastructure, prioritizing
        stability and speed for smooth operations. Our experienced team of
        skilled professionals provides expert guidance and support throughout
        the entire process.
      </p>

      <div class="text">
        <h3>Network Design and Implementation</h3>
        <p>
          Entrust your office networking needs to our expert team. We specialize
          in designing and implementing scalable and reliable networks that
          support your current requirements while accommodating future growth.
        </p>
      </div>
      <div class="text">
        <h3>Wired and Wireless Solutions</h3>
        <p>
          Embrace flexibility with our wired and wireless networking solutions.
          From high-speed Ethernet connections for desktops to secure and
          efficient Wi-Fi networks, we tailor our services to your specific
          needs.
        </p>
      </div>
      <div class="text">
        <h3>Network Security</h3>
        <p>
          Safeguard your critical data with our robust network security
          measures. We deploy state-of-the-art firewalls, intrusion detection
          systems, and encryption protocols to ensure your network remains
          protected from cyber threats.
        </p>
      </div>
      <div class="text">
        <h3>Cloud Integration</h3>
        <p>
          Seamlessly integrate cloud services into your office network to
          enhance collaboration and accessibility. Our solutions facilitate
          efficient data storage, sharing, and application usage in a secure
          cloud environment.
        </p>
      </div>
      <div class="text">
        <h3>Network Monitoring and Management</h3>
        <p>
          Gain complete visibility and control over your network with our
          monitoring and management services. Proactively identify and address
          potential issues to ensure optimal performance and minimize downtime.
        </p>
      </div>
      <div class="text">
        <h3>VPN Solutions</h3>
        <p>
          Facilitate secure remote access for your employees with our VPN
          (Virtual Private Network) solutions. Enable seamless collaboration
          regardless of geographical locations while maintaining data privacy
          and security.
        </p>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-card">
          <div class="footer-image-container">
            <img src="/assets/logo.png" alt="Logo" />
            <div class="vl"></div>
            <div class="links">
              <a
                href="https://www.facebook.com/as.it.sl"
                target="_blank"
                style="margin-left: 0"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.instagram.com/asitsolutions/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=8801628888444"
                target="_blank"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>

          <p>
            House 11, Road 15, Nikunja 2, <br />
            Khilkhet, Dhaka 1229
          </p>

          <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          <p>
            <a href="tel:+01628888444">01628888444</a>, <br />
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>

        <div class="center">
          <p>
            Let's explore how our IT solutions can drive innovation and growth
            for your business. Contact us today to discover the possibilities.
          </p>
        </div>
      </div>

      <div class="copyright">
        <p>
          Developed by
          <a href="https:///nehanyaser.vercel.app/">Nehan Yaser</a>
        </p>
      </div>
    </footer>

    <script src="/header.js"></script>
  </body>
</html>
