<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online UPS Solutions</title>
    <meta
      name="description"
      content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology."
    />
    <meta property="og:image" content="/assets/hero.jpg" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/service.css" />
    <link
      rel="stylesheet"
      href="https://fontawesome-pro.vercel.app/css/all.min.css"
    />
  </head>
  <body>
    <div class="header-container">
      <header>
        <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>

        <button id="nav-toggle">
          <i class="fa-regular fa-bars"></i>
        </button>

        <div class="navigation lato-light">
          <a href="/">HOME</a>
          <div class="dropdown">
            <a class="dropbtn">SERVICES</a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </div>
          <a href="/clients">CLIENTS</a>
          <a href="/contact">CONTACT</a>
        </div>
      </header>

      <div id="nav-overlay">
        <div id="nav-overlay-content">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/contact">Contact</a></li>
            <hr />
            <li><p>Our Services</p></li>
            <li>
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
            </li>
            <li>
              <a href="/services/networking">Professional Networking</a>
            </li>
            <li>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
            </li>
            <li>
              <a href="/services/virtual-computing">Virtual Computing</a>
            </li>
            <li>
              <a href="/services/online-ups">Online UPS Solutions</a>
            </li>
            <li>
              <a href="/services/biometric-attendance">Biometric attendance</a>
            </li>
            <li>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </li>
          </ul>
          <button id="nav-close">CLOSE</button>
        </div>
      </div>
    </div>

    <p class="title">Online UPS Solutions</p>

    <hr />

    <div class="container">
      <p>
        We start with a thorough consultation and assessment of your power
        requirements, recommending the most suitable Online UPS solution
        tailored to your specific needs. Our team ensures a seamless
        installation and integration process, setting up your system for optimal
        performance. You can enjoy peace of mind with our proactive monitoring
        and maintenance services, which address any potential issues to
        guarantee continuous and reliable operation. Additionally, we provide
        comprehensive training for your staff, ensuring they understand the
        system's functionality and can respond effectively if needed.
      </p>

      <div class="text">
        <h3>Unmatched Reliability</h3>
        <p>
          AS IT Solutions Online UPS guarantees a constant and reliable power
          supply to protect your sensitive electronic equipment from potential
          damage due to power fluctuations, outages, or surges.
        </p>
      </div>
      <div class="text">
        <h3>True Online Double-Conversion Technology</h3>
        <p>
          Experience the benefits of true online double-conversion technology,
          where your critical systems are always powered by clean, stable
          energy, providing optimal protection against power irregularities.
        </p>
      </div>
      <div class="text">
        <h3>Seamless Transition</h3>
        <p>
          In the event of a power outage, our Online UPS systems ensure a
          seamless transition to battery power, preventing even the briefest
          disruption to your operations. Your business stays online without
          missing a beat.
        </p>
      </div>
      <div class="text">
        <h3>Scalability for Growing Needs</h3>
        <p>
          AS IT Solutions Online UPS solutions are designed to scale with your
          business. Whether you're expanding your operations or upgrading your
          infrastructure, our systems adapt to meet your evolving power
          requirements.
        </p>
      </div>
      <div class="text">
        <h3>Advanced Battery Management</h3>
        <p>
          Our Online UPS systems feature advanced battery management, extending
          the lifespan of your batteries and providing accurate information
          about their status. This ensures that your UPS is always ready to
          perform when needed.
        </p>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-card">
          <div class="footer-image-container">
            <img src="/assets/logo.png" alt="Logo" />
            <div class="vl"></div>
            <div class="links">
              <a
                href="https://www.facebook.com/as.it.sl"
                target="_blank"
                style="margin-left: 0"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.instagram.com/asitsolutions/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=8801628888444"
                target="_blank"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>

          <p>
            House 11, Road 15, Nikunja 2, <br />
            Khilkhet, Dhaka 1229
          </p>

          <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          <p>
            <a href="tel:+01628888444">01628888444</a>, <br />
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>

        <div class="center">
          <p>
            Let's explore how our IT solutions can drive innovation and growth
            for your business. Contact us today to discover the possibilities.
          </p>
        </div>
      </div>

      <div class="copyright">
        <p>
          Developed by
          <a href="https:///nehanyaser.vercel.app/">Nehan Yaser</a>
        </p>
      </div>
    </footer>

    <script src="/header.js"></script>
  </body>
</html>
