<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Public Announcement System</title>
    <meta
      name="description"
      content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology."
    />
    <meta property="og:image" content="/assets/hero.jpg" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/service.css" />
    <link
      rel="stylesheet"
      href="https://fontawesome-pro.vercel.app/css/all.min.css"
    />
  </head>
  <body>
    <div class="header-container">
      <header>
        <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>

        <button id="nav-toggle">
          <i class="fa-regular fa-bars"></i>
        </button>

        <div class="navigation lato-light">
          <a href="/">HOME</a>
          <div class="dropdown">
            <a class="dropbtn">SERVICES</a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </div>
          <a href="/clients">CLIENTS</a>
          <a href="/contact">CONTACT</a>
        </div>
      </header>

      <div id="nav-overlay">
        <div id="nav-overlay-content">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/contact">Contact</a></li>
            <hr />
            <li><p>Our Services</p></li>
            <li>
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
            </li>
            <li>
              <a href="/services/networking">Professional Networking</a>
            </li>
            <li>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
            </li>
            <li>
              <a href="/services/virtual-computing">Virtual Computing</a>
            </li>
            <li>
              <a href="/services/online-ups">Online UPS Solutions</a>
            </li>
            <li>
              <a href="/services/biometric-attendance">Biometric attendance</a>
            </li>
            <li>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </li>
          </ul>
          <button id="nav-close">CLOSE</button>
        </div>
      </div>
    </div>

    <p class="title">Public Announcement System</p>

    <hr>

    <div class="container">
      <p>
        We begin with a thorough consultation and system design, collaborating
        with you to understand your communication needs and create a tailored PA
        System solution that aligns with your organizational goals. Our skilled
        technicians then handle the smooth installation and configuration,
        ensuring your system performs optimally and adheres to industry
        standards. We empower your staff with comprehensive training and provide
        ongoing support so your team can effectively operate and maximize the
        system's potential. Finally, you can enjoy peace of mind with our
        maintenance services, including regular inspections, updates, and
        upgrades to keep your PA System at peak performance.
      </p>

      <div class="text">
        <h3>Clear and Crisp Audio Quality</h3>
        <p>
          AS IT Solutions PA Systems deliver clear and crisp audio quality,
          ensuring that your announcements are heard loud and clear in any
          setting. From offices to public spaces, our systems enhance
          communication across the board.
        </p>
      </div>
      <div class="text">
        <h3>Scalable Solutions</h3>
        <p>
          Whether you have a small office or a large facility, our PA Systems
          are scalable to meet your organization's size and requirements. Easily
          expand your system as your needs evolve.
        </p>
      </div>
      <div class="text">
        <h3>Zoning and Control</h3>
        <p>
          Enjoy the flexibility of zoning and control with our PA Systems.
          Tailor announcements to specific areas, ensuring that the right
          message reaches the right audience at the right time.
        </p>
      </div>
      <div class="text">
        <h3>Integration Capabilities</h3>
        <p>
          AS IT Solutions PA Systems seamlessly integrate with other
          communication technologies and devices. Enhance your existing
          infrastructure with a comprehensive communication solution.
        </p>
      </div>
      <div class="text">
        <h3>Emergency Notification Features</h3>
        <p>
          Prioritize safety with emergency notification features. Our PA Systems
          can be integrated with emergency alert systems to provide critical
          information during unforeseen events, ensuring the well-being of
          everyone in your facility.
        </p>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-card">
          <div class="footer-image-container">
            <img src="/assets/logo.png" alt="Logo" />
            <div class="vl"></div>
            <div class="links">
              <a
                href="https://www.facebook.com/as.it.sl"
                target="_blank"
                style="margin-left: 0"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.instagram.com/asitsolutions/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=8801628888444"
                target="_blank"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>

          <p>
            House 11, Road 15, Nikunja 2, <br />
            Khilkhet, Dhaka 1229
          </p>

          <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          <p>
            <a href="tel:+01628888444">01628888444</a>, <br />
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>

        <div class="center">
          <p>
            Let's explore how our IT solutions can drive innovation and growth
            for your business. Contact us today to discover the possibilities.
          </p>
        </div>
      </div>

      <div class="copyright">
        <p>
          Developed by
          <a href="https:///nehanyaser.vercel.app/">Nehan Yaser</a>
        </p>
      </div>
    </footer>

    <script src="/header.js"></script>
  </body>
</html>
